html,body {
	height: 100%;
	margin: 0;
}

#mapholder {
    height: 100px;
    width: 100%;
    top: 0;
	position: fixed !important;
}

.pull-right {
	margin-right: 8px;
}

.below-map {
	top:110px;
	position: absolute;
}

